[Desktop Entry]
Comment=Large scale ssh session management.
Exec=python3 /opt/multiconnections/multiconnections.py
GenericName=MultiConnections
Icon=gtk-connect
Name=MultiConnections
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
Categories=GTK;Utility;
