Source: multiconnections
Section: unknown
Priority: optional
Maintainer: Stanislav Genchev <slavzgenchev@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: multiconnections
Architecture: any
Depends: python3-gi, openssh-client, openssh-server, sshpass, gnome-terminal
Description: MultiConnections
 Connect to multiple ssh servers and execute multiple commands on them.
