#!/usr/bin/make -f

mfile = $(CURDIR)/multiconnections.py
dfile = $(CURDIR)/MultiConnections.desktop
ifile = $(CURDIR)/multiconnections.glade

MDEST = $(CURDIR)/debian/multiconnections/opt/multiconnections/
DDEST = $(CURDIR)/debian/multiconnections/usr/share/applications/
IDEST = $(CURDIR)/debian/multiconnections/opt/multiconnections/

build: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

install: build clean $(mfile) $(dfile) $(ifile)
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	mkdir -m 755 -p $(MDEST)
	mkdir -m 755 -p $(DDEST)
	mkdir -m 755 -p $(IDEST)
	
	install -m 777 $(mfile) $(MDEST)
	install -m 666 $(dfile) $(DDEST)
	install -m 666 $(ifile) $(IDEST)

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installman
#	dh_installinfo
#	dh_undocumented
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
#	dh_perl
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
